{% extends 'web/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
        <div class="col-md-10 mx-auto col-lg-5">
        <form class="p-4 p-md-5 border rounded-3 bg-light">
          <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Адрес электронной почты</label>
          </div>
          <div class="form-floating mb-3">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Пароль</label>
          </div>
          <div class="checkbox mb-3">
            <label>
              <input type="checkbox" value="remember-me"> Запомнить меня
            </label>
          </div>
          <button class="w-100 btn btn-lg btn-primary" type="submit">Зарегистрироваться</button>
          <hr class="my-4">
          <small class="text-muted">Нажимая «Зарегистрироваться», вы соглашаетесь с условиями использования.</small>
        </form>
      </div>

{% endblock %}